.navfix{
  margin-top: 50px;
}

.btn{
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:active{
  transform: translateY(3px);
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #333;
  background-image: none;
  background-clip: padding-box;
  /*border: $input-btn-border-width solid $input-border-color;*/
}