.container{
  margin: auto;
  max-width: 1200px;
}

.languages{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  padding: 0;
}

.languages li{
  list-style-type: none;
  display: inline-block;
  padding: 1em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5 ease-in-out;
}

.languages li:hover{
  color: red;
}

